.marquee-container {
  position: relative;
  width: 85vw; /* 50% of the viewport width */
  margin: 0 auto; /* Center the carousel */
  overflow: hidden;
}

.marquee-content {
  display: flex;
  animation: marquee 20s linear infinite;
  gap: 15px;
}

.marquee-image {
  height: 100px;
  width: auto;
  object-fit: cover;
  margin-right: 0;
}

/* Fading effect on the left and right edges */
.fade-left,
.fade-right {
  position: absolute;
  top: 0;
  width: 50px; /* Adjust width for fade intensity */
  height: 100%; /* Full height of the container */
  z-index: 1;
  pointer-events: none;
}

.fade-left {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.fade-right {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}
